body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#status {
  width: 250px;
  height: 250px;

  &.open {
//    background-color: #f44336;
    background-color: #8bc34a;
    &:before {
      content: 'Open';
    }
  }
  &.close {
//    background-color: #8bc34a;
    background-color: #f44336;
    &:before {
      content: 'Closed';
    }
  }
}
